

body{
	overflow-x: hidden;
	
}
.titlepage{
	position: relative;
	top:100px;
	font-size: 35px;
	color:#5D92BA;
	font-family: 'Indie Flower', cursive;
	text-align: center;


}
.table{
	position: relative;
	top:150px;
	text-align: center;

	}
td,tr,th{
	text-align: center;

}
.navbarcustom{
	margin:0px;
	height: 75px;
	min-height: 75px;
	position: absolute;
	width:100%;
	background-color:#5D92BA ;
}
.heading{
	color: #ffffff;
font-family: "Tenor Sans", sans-serif;
position: relative;
left: 55px;
top: 26px;
font-size: 19px;
}
.logout{
	position: relative;
	float:right;
	right:25px;
	text-decoration: none;
	color:#ffffff;
	padding:13px;
	top:-22px;
	font-size: 16px;
}
.logout:hover{
	background-color: #568BB3;
	text-decoration: none;
	color: white;

}
.container{
	position: relative;
	top:50px;
}
.nav.nav-tabs{
	position: relative;
	top:150px;
}
.tab-content{
	position: relative;
	top:150px;
}